// variables
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

// Breakpoint
$min-desktop: 768px;

// mixins
@mixin screen-for-desktop{
    @media screen and (min-width: $min-desktop) {
        @content;
    }
}